<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite_Tests">
    <test verbose="2" preserve-order="true" name="/Users/rm1221/Repos/Capstone_project_RaulMadrigal">
        <classes>
            <class name="Tests"/>
        </classes>
    </test>
</suite>